.idea/
__pycache__/
ehealth/doctor/migrations/*
ehealth/landing/migrations/*
ehealth/med/migrations/*
ehealth/mutuelle/migrations/*
ehealth/ordonnance/migrations/*
ehealth/patient/migrations/*
ehealth/pharmacie/migrations/*
ehealth/meds.db
ehealth/db.sqlite3
